{%extends 'base.html' %}

{%block title%}
    To-do List
{%endblock title %}

{%block content%}
    <main>
        <div>
            <h1>Update list</h1>
            <form method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button>update</button>
            </form>
        </div>
    </main>
{%endblock content%}
